
@{
    ViewBag.Title = "ForgeViewer";
}

@model String

<!-- The Viewer JS -->
<script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js"></script>
<script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
<script src="~/Scripts/ForgeViewer.js"></script>


<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp forgeViewer">
    <div id="MyViewerDiv"></div>
</div>

<div class="mdl-grid">
    
    <div class="mdl-cell mdl-cell--4-col">

    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div>
            Items selected: <br/>
            <div id="MyPropertiesSelected"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-default" id="MyAwesomeLockButton">Lock it!</button>
        <button class="btn btn-default" id="MyAwesomeUnlockButton">Unlock it!</button>
        <button class="btn btn-default" id="MySectionView">Section</button>
        <div>Items selected: <span id="MySelectionValue">0</span></div>
    </div>
</div>


<script type="text/javascript">

    var urn = "@Model";
    showModel(urn);

</script>


